@font-face {
    font-family:f1 ;
    src: url(f1.ttf);
}
@font-face {
    font-family: f2;
    src: url(f2.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-weight: 700;
    

}
body,html{
    height: 100%;
    width: 100%;
}
#page1
{
    min-height: 100vh;
    width: 100vw;
    background-color:#EFEAE3;
    position: relative;
}
   
#nav
{
   padding: 2vw 3vw;
   
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: relative;
    z-index: 10000;
    pointer-events: all;
    
    
}

.d
{
    text-decoration: none;
    color: black;
    padding: 1vw 2vw;
    border-radius: 50px;
    border: 1px solid #8a8a8a89;
    font-weight: 500;
    font-size: 18px;
    
    overflow: hidden;
position: relative;




}
#nav-part2 
{
    display: flex;



}
#nav-part2 h4{
    margin-right: 2vw;
}

#nav-part2 h4::after
{
    content: "";
    position: absolute;
    
    height: 100%;
    width: 100%;
    
    background-color: black;
    left: 0;
    bottom:-100%;
    transition: all ease 0.3s;
    

}
#nav-part2 h4:hover::after
{
    transform: translateY(-100%);
    border-radius: 50px;
    
    
   

}
#nav-part2 h4 a{
    text-decoration: none;
    color: black;
    z-index: 9;
    position: relative;
   
   
}
#page1,#page2,#page3,#page4,#page4,#page5
{
   background-color: #EFEAE3;
}
#center
{
    height: 65vh;
    width: 100vw;
    
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 8vw;
    font-family: f1;
    border-bottom: 1px solid #0000003c;
}
#THAT
{
    position: relative;
    left: 15vw;
}
#right
{
    padding-right: 5vw;
    font-size: 6vw;
    font-weight: 700;
    line-height: 9vw;
}
#left
{
    padding-left:2vw ;
    font-size: 2vw;
    font-weight: 700;
    line-height: 2vw;
}


#page1 video
{
    width: 90%;
    height:90% ;
    
    border-radius: 30px;
    margin-top: 5vw;
    object-fit: cover;
    z-index: 99;
    position: relative;
    left: 4vw;
    

    
    
   
    
}
#hero-shape
{
    width: 46vw;
    height: 36vw;
    background-color:#FE330A;
    position: absolute;
    border-top-left-radius: 50%;
   border-bottom-left-radius: 50%;
   right: 0;
    top: 44%;
    filter: blur(20px);
}
 #hero-shape #d1
 {
    height:120%;
    width: 120%;
    border-radius: 50%;
    background-color:#FE330a;
    position:relative;
    bottom: 4vw;
    animation-name: anime;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
 }
 @keyframes anime {
    from
    {
        transform: translateX(0);
    }
    to 

    {
        transform: translateX(-200px);
    }
    
 }
 #page2
 {
    min-height: 100vh;
    width: 100vw;border: none;

    
   
    position: relative;
 }
 #page2 #container
 {
    height: 12vw;
    width: 100%;
   
    overflow-y: hidden;
    font-family: f1;
    overflow-x: auto;
   white-space: nowrap;
    
 }
 #container::-webkit-scrollbar
 {
    display: none;
 }
 #page2 #content
 {
    height: 100%;
    width: 100%;
     display: flex;
    align-items: center;
   gap: 2vw;
   
    font-size: 5vw;
    animation-name: scroll;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 } 
    
     

    
 
 #page2 #content img{
    height: 5vw;
 }
 @keyframes scroll {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-300%);
    }
    
 }

 #page2 #c2
 {
    height:100vh;
    width: 100vw;
   
    margin-top: 10vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

 }
 #page2 #c2 #l
 {
    padding: 8vw;
    font-family: f1;
    font-size: 4.7vw;
    line-height: 5vw;
    position: relative;
    
 }
 #page2 #c2 #r
 {
    height: 30vw;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8vw;
    text-align: center;
    font-size: 1.3vw;
    font-family: f2;
    position: relative;
    



 }
 #page2 #c2 #r img{
   border-radius: 20px;
    
 }
 #gola
 {
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE340A,#FE7223);
    border-radius: 50%;
    position: absolute;
    filter: blur(40px);
    left: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: kuku;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;

 }
 @keyframes kuku {
    from{
        transform: translate(0,0) skew(0) ;
    }
    to
    {
        transform: translate(-5vw,7vw) skew(-12deg);
    }
    
 }
 #page3

 {
    min-height: 100vh;
    width: 100vw;
   
   
   
    

 }
 #page3 #df1
 {
    display: flex ;
    align-items: center;
    width: 12vw;
    height: 2vw;
    white-space: nowrap;
    justify-content: space-between;
    font-family: f2;
    font-size: 1.3vw;
    font-weight: 500;
   
   
    
 }
 #page3 #df1 img{
    height: 1.5vh;
 }
 .elm{
    height:9vw ;
    width:100% ;
    /* background-color: #FF9831; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #8F8C88;
    position: relative;
    overflow: hidden;
    
    
 }
 #page5 #df1
 {
   position: relative;
  bottom: 2vw;
 }
 .elm::before
 {
    content: "";
    height:9vw ;
    width:100% ;
     background-color: #FF9831;
     position: absolute;
    top: -100%;
    transition: all 0.3s ease;
 }
 .elm h1
 {
    font-size: 4vw;
    font-family: f1;
    /* position: relative; */
    z-index: 99;
 }
 .elm h6{
    font-size: 1vw;
    padding-right: 3vw;
    text-align: center;
    font-family: f2;
    /* position: relative; */
    z-index: 9;

 }
 .elm h6 span{
    color:#8F8C88;
 }
 .elm:hover::before
 {
    top:0
    
 }
 #imo
 {
    height: 32vw;
    width: 26vw;
    background-color: #FE330a;
    border-radius: 20px;
    position: fixed;
    z-index: 200;
    top: 10%;
    left: 50%;
    visibility: hidden;
    
 }
 #v1
 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
 }

 #v2
 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
 }
 #v3
 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
 }
 #vd4
 {
    height: 100%;
    width: 100%;
   
    border-radius: 20px;
    position: absolute;
 }
 #page4
 {
   height: 100vh;
   width: 100vw;
   
   
   position: relative;
 }
 #page4 #a-p
 {
   height: 3vw;
   width: 12vw;
   border: 1px solid  #7C7771;
   position: relative;
   left: 2vw;
   top: 1vw;
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
  

 
 }
  
 #page4 #a-p i{
   font-size: 2.4vw;
   color: black;
   z-index: 10;
   
 }
 #page4 #a-p span{
   font-size: 1.5vw;
   font-family: f2;
   z-index: 10;
 }
 #page4 #a-p::after
 {
   content: "";
   height: 3vw;
   width: 12vw;
   background-color: black;
   border-radius: 50px;
   position: absolute;
   bottom: -100%;
   transition: all 0.3s linear;


   
  
 }
 #page4 #a-p a{
   color: black;
   text-decoration: none;
   z-index: 10;
 }
 #page4 #a-p:hover::after
 {
   bottom:0;
 }
 #page4 #a-p:hover span
 {
   color:white;
 }
 
 #page4 #a-p:hover i
 {
   color:white;
 }
 #page4 #coco
 {
   height: 80%;
   width: 80%;
   background-color:black;
   position: relative;
   border-radius: 20px;
   left: 5vw;
   top: 3vw;
   display: flex;
   justify-content: space-between;
 }
 #coco #left
 {
   height: 100%;
   width: 40vw;
   
   border-radius: 20px;
   
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   justify-content: space-evenly;
   
 }
 #coco #right

 {
   height: 100%;
   width: 40vw;
   
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
  
   background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15e1_Project-p-800.jpg);
   background-size: cover;
  position: relative;
  

 }


 #coco #left p
 {
   text-align: center;
   font-size: 1.2vw;
   font-family: f2;
   height: 10vw;
   width: 35vw;
   color: #EFEAE3;
  
   display: flex;
   align-items: center;
   justify-content: center;
 }
 #coco #left #c1{
   
   height: 20vw;
   width: 25vw;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   border-left:2px solid #8F8C88;
   
   font-family: f1;
   font-size: 2.7vw;
   font-weight: 700;
   position: relative;
   
 }

 #coco #left #c1 #hf

 {
   color: white;
  
 }

 #coco #left #hs,#ht

 {
   color:#8F8C88;
  

 }
 #page5
 {
   height: 100vh;
   width: 100vw;
  
 }
 #page5 #df1 
 {
   display: flex ;
   align-items: center;
   width: 12vw;
   height: 2vw;
   white-space: nowrap;
   justify-content: space-between;
   font-family: f2;
   font-size: 1.3vw;
   font-weight: 500;
   
 }
 #page5 #df1 img{
   height: 1.7vh;
}
#page6
{
   height: 100vh;
   width: 100vw;
  background-color:transparent;
 
 
  color: white;
  pointer-events: none;


   
   
  

}

#footer
{
   height: 100vh;
   width: 100vw;
   background-color: black;
   position: fixed;
   z-index:99;
   bottom: 0;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;

   pointer-events: all;
   
  

}
#main
{
   position: relative;
   z-index: 100;
   
   
}
#footer h1{
   color:white ;
   text-align: center;
   font-size: 22.2vw;
   font-family: f2;
   font-weight: 600;
   position: relative;
   top: 2.5vw;


}

#footer #c1

{width: 100%;
   height: 10vw;
  
   display: flex;
   justify-content: space-between;
   position: relative;
   top: 5vw;
   z-index:100;
   pointer-events: all;


}

#footer #c3
{
   width: 100%;
   height: 6vw;
  
   display: flex;
   font-family: f2;
   font-size: 1.5vw;
   align-items: center;
   justify-content: space-between;
   font-weight: 500;
   border-top: 1px solid hsl(27, 7%, 29%);
   position: relative;
   z-index:100;
   pointer-events: all;

  

}

#footer #c3 a{
   color: white;
   text-decoration: none;
   pointer-events: all;
}
#footer #c3 #inst{
   color: white;
   text-decoration: none;
   pointer-events: all;
}


#cp
{
   position: relative;
   left: 2vw;
   pointer-events: all;
}


 
#c1 #d2
{
   height: 100%;
  
   width: 25vw;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   right: 7vw;
   pointer-events: all;
   

}


#c1 #d2 #puss

{
   width: 100%;
   height: 4vw;
  
   display: flex;justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid  hsl(27, 7%, 29%);
   pointer-events: all;
   
  

   
}

#c1 #d2 #puss #inp1

{
   width: 70%;
   height: 100%;
  background-color: transparent;
   font-size: 1.4vw;
   font-family: f1;
   border: none;
   color: #EFEAE3;
   
   pointer-events: all;
  
  
   
  

   
   
}


#c1 #d2 #puss i{
   font-size: 3vw;
   font-weight: 600;
   pointer-events: all;
}


#c1 #d2 p
{
   font-size: 1.7vw;
   font-family: f2;
   font-weight: 400;
   pointer-events: all;
   
}
 #footer #d1
{
   height: 100%;
   width: 10vw;
   
   text-align: center;
   position: relative;
   left: 6vw;
   font-family: f2;
   font-size: 4.3vw;
   pointer-events: all;
}
#page5
{
   padding: 8vw 1vw;
  
   

}
.swiper {
   width: 100%;
   height: 100%;
   margin-top: 3vw;
 }
 .swiper-wrapper
 {
   display: flex;
   
   
   
  
 }

 
 

 .swiper-slide {
   width:30%;
   border-left: 1px solid #BFBBB6;
   background-color:#EFEAE3;
   font-family: f2;
   font-size: 1.7vw;
   color:#37312C;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   font-weight: 50;
   text-align: center;
 }
#sw1
 {
   width: 30%;
   height: 52%;

 } 
 
 #sw2
 {
   width: 30%;
   height: 52%;

 } 
 #sw3
 {
   width: 30%;
   height: 52%;

 } 
 #sw4
 {
   width: 30%;
   height: 52%;

 } 

 #sw5
 {
   width: 30%;
   height: 52%;

 } 
 #sw6
 {
   width: 30%;
   height: 52%;

 } 
 .swiper-slide img{
   
   height: 10vw;
 }
 
 #a1
 {
   height: 40%;
   width: 7%;
   
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   overflow: hidden;
   

 }
 #a1 #before
 {
   content: "";

   height:100%;
   width: 100%;
   
   position: absolute;
    left: -100%;
   border-bottom: 1px solid #7C7771;

   
   transition-duration:1s;
   

 }
 
 
 #a2
 {
   height: 40%;
   width: 7%;
   
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   right: 6vw;
   overflow: hidden;

 }
 
 #a2 #before2
 {
   content: "";

   height:100%;
   width: 100%;
   
   position: absolute;
    left: -100%;
   border-bottom: 1px solid #7C7771;

   
   transition-duration:1s;
   

 }
 #nav #menu
 {
   display: none;
 }
 #full
 {
   height: 100vh;
   width: 100vw;
   background-color: rgba(0, 0, 0, 0.63);
   position: fixed;
   z-index: 100;
   top: -200%;
 }
 #full1
 {
   height: 50%;
   width: 100%;
   background-color:#F0EFEE ;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   text-align: right ;
   
 }
  #full1 #fu
  {
   height: 50%;
   width: 50%;
   font-family: f1;
  
   position: relative;
   top:27vw;
   left: 20vw;
   border-radius: 20px;
   font-size: 3.4vw;
   
   
  }
  #fu a{
   text-decoration: none;
   color: black;
  }
  #menu
  {
   position: relative;
  }
  #cross
  {
   position:absolute;
   display:none;
  }
  #ldr
  {
   height: 100vh;
   width: 100vw;
   position: fixed;
   background-color: black;
   z-index: 999;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 4vw;
   
  }
  #ldr #hol
  {
   color:transparent;
   background:linear-gradient( to right,orange,orangered);
   -webkit-background-clip: text;
   font-size: 5vw;
   font-family: f1;
   position: absolute;
   opacity: 0;

  }
  #ldr #ss
  {
   color:transparent;
   background:linear-gradient( to right,orange,orangered);
   -webkit-background-clip: text;
   font-size: 5vw;
   font-family: f1;
   position: absolute;
   opacity: 0;
  }
  #ldr #sd
  {
   color:transparent;
   background:linear-gradient( to right,orange,orangered);
   -webkit-background-clip: text;
   font-size: 5vw;
   font-family: f1;
   position: absolute;
   opacity: 0;
  }
  
  

 

 
 @media (max-width:600px) {
   #page1
   {
      min-height: 100vh;
      width: 100vw;
      
   }
   
   #nav
{
   padding: 8vw 5vw;
   background-color:#EFEAE3;

   
    /* display: flex;
    align-items: end;
    justify-content: space-between; */
    
    
    
}
#nav img {
   height: 9vw;
}


#nav-part2 
{
    display:none;



}
#nav #menu
 {
   display:block;
   padding: 1vw 3vw;
   
 
   
   
  
border: 1px solid #ababab;
border-radius: 50px;
font-size: 4vw;

font-weight: 200;

 }
  #page1 #center
{
    height: 50vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    z-index: 9;
    


    
    margin-top: 8vw;
    font-family: f1;
    border-bottom: 1px solid #0000003c;
}
 #right #THAT
{
    position: relative;
    left: 15vw;
}
 #center #right
{
    padding-right: 5vw;
    font-size: 6vw;
    font-weight: 700;
    line-height: 12vw;
    position: relative;
    bottom: 1vw;
    left: 20vw;
}
 #center #left
{
   
    padding-left:2vw ;
    font-size: 4vw;
    font-weight: 700;
    line-height: 5vw;
    position: relative;
    bottom: 2vw;
    right: 20vw;
}
#hero-shape
{
    width: 76vw;
    height: 56vw;
    background-color:#FE330A;
    position: absolute;
    border-top-left-radius: 50%;
   border-bottom-left-radius: 50%;
   right: 0;
    top: 44%;
    filter: blur(20px);
   
}
 #hero-shape #d1
 {
    height:120%;
    width: 120%;
    border-radius: 50%;
    background-color:#FE330a;
    position:relative;
    bottom: 4vw;
    animation-name: anime;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
    
 }
 #page1 video {

   height:90vw;
   object-fit: cover;
   object-position: center;
   margin-left: 1.6vw;
  
   border: none;
 }
 #container
 {
   position: relative;
   top: 4vw;
 }

 #page2 #content
 {
  font-size: 5vw;
   
 }

 #page2 #c2
 {
    height:100vh;
    width: 100vw;
   
    margin-top: 10vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

 }
 #page2 #c2 #l
 {
    padding: 8vw;
    font-family: f1;
    font-size: 6vw;
    line-height: 7vw;
    position: relative;
    
 }
 #page2 #c2 #r
 {
    height: 50vw;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8vw;
    text-align: center;
    font-size: 1.3vw;
    font-family: f2;
    position: relative;
    bottom: 16vw;
   
    



 }
 #page2 #c2 #r img{
   border-radius: 20px;
   
   
   
    
 }
 #c2 #r p 
 {
   font-size: 3vw;
 }
 .elm{
   height:30vw ;
   width:100% ;
   /* background-color: #FF9831; */
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #8F8C88;
   position: relative;
   top: 15vw;
   overflow: hidden;
      
   
}
 .elm h1
 {
   font-size: 8vw;
 }
 .elm h6
 {
   font-size: 3.5vw;
 }
 .elm::before
 {
    content: "";
    height:100% ;
    width:100% ;
     background-color: #FF9831;
     position: absolute;
    top: -100%;
    transition: all 0.3s ease;
 }
 #page3 #df1
 {
    display: flex ;
    align-items: center;
    width: 12vw;
    height: 2vw;
    white-space: nowrap;
    justify-content: space-between;
    font-family: f2;
    font-size: 4vw;
    font-weight: 500;
    position: relative;
    top: 14vw;
   
   
    
 }
 #imo
 {
   scale:2;
 }
 #page4
 {
   display: none;
 }
 #page5 #df1
 {
   display: flex ;
   align-items: center;
   width: 12vw;
   height: 2vw;
   white-space: nowrap;
   justify-content: space-between;
   font-family: f2;
   font-size: 5.5vw;
   font-weight: 500;
   position: relative;
   top: 20vw;
   

   
 }
 .swiper-wrapper
 {
   position: relative;
   top: 40vw;
   

   
 }
 #sw1
 {
   width: 50%;
    height:60%;
  
   font-size: 5vw;
  
   
 }
 #sw2
 {
   width: 50%;
   height:60%;
   font-size: 5vw;
  
 }
 #sw3
 {
   width: 50%;
   height: 60%;
   font-size: 5vw;
   
 }
 #sw4
 {
   width: 50%;
   height: 60%;
   font-size: 5vw;
   
 }
 #sw5
 {
   width: 50%;
   height: 60%;
   font-size: 5vw;
   
 }
 #sw6
 {
   width: 50%;
   height: 60%;
   font-size: 5vw;
   
 }
 
 
.swiper-slide img{
  
  height: 22vw;
  position: relative;
  left: 12%;
}
#footer #c1
{
   width: 100%;
   height: 10vw;
  
   display: flex;
   justify-content: space-between;
   position: relative;
  
  
   z-index: 999;
   pointer-events: all;
   

}
 #footer #c1 #d1
 {
   font-size: 10vw;
 }
 
 #footer #c1 #d2 p
 {
   font-size: 3.5vw;
 }
 #footer h1
 {
   position: relative;
   top: 12vw;
 }
 #puss
 {
   scale: 1.8;
   position: relative;
   top: 3vw;
   right: 6vw;
   font-size: 3vw;
   
 }
 #puss input
 {
   font-size: 5vw;
   scale: 1.5;
   position: relative;
   left: 5vw;
   
 }
 #footer #c3 
 {
   font-size: 3.2vw;
   pointer-events: all;


 }
 #a1
 {
   height: 50%;
   width: 15%;
   
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   overflow: hidden;
 }
 #a2
 {
   height: 50%;
   width: 15%;
   
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   right: 2vw;
   overflow: hidden;

 }
 #footer #c3
 {
   position: relative;
   z-index: 100000;
 }
 
 }
 
